USE [master]
GO
/****** Object:  Database [LibPro]    Script Date: 5/13/2026 10:26:46 AM ******/
CREATE DATABASE [LibPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LibPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LibPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibPro]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](100) NOT NULL,
	[OldValues] [nvarchar](max) NOT NULL,
	[NewValues] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookItems]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookItems](
	[Id] [uniqueidentifier] NOT NULL,
	[Barcode] [nvarchar](100) NOT NULL,
	[ShelfLocation] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BookItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[ISBN] [nvarchar](13) NOT NULL,
	[CoverImageUrl] [nvarchar](1000) NULL,
	[Description] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[IsDigital] [bit] NOT NULL,
	[DigitalFilePath] [nvarchar](1000) NULL,
	[LicenseExpiryDate] [datetime2](7) NULL,
	[PublisherId] [uniqueidentifier] NULL,
	[SupplierId] [uniqueidentifier] NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ParentCategoryId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinePayments]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinePayments](
	[Id] [uniqueidentifier] NOT NULL,
	[LoanDetailId] [uniqueidentifier] NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[PaidCurrency] [nvarchar](10) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[IsPaid] [bit] NOT NULL,
 CONSTRAINT [PK_FinePayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanDetails]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[LoanId] [uniqueidentifier] NOT NULL,
	[BookItemId] [uniqueidentifier] NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[ReturnDate] [datetime2](7) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RenewalCount] [int] NOT NULL,
	[AccessToken] [nvarchar](2000) NULL,
	[FineAmount] [decimal](18, 2) NOT NULL,
	[FineCurrency] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_LoanDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[Id] [uniqueidentifier] NOT NULL,
	[LoanDate] [datetime2](7) NOT NULL,
	[ReaderId] [uniqueidentifier] NOT NULL,
	[IssuedByStaffId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Loans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[OfficeAddress] [nvarchar](500) NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Readers]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readers](
	[Id] [uniqueidentifier] NOT NULL,
	[LibraryCardNumber] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Gender] [int] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Street] [nvarchar](200) NOT NULL,
	[Address_Ward] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Readers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [uniqueidentifier] NOT NULL,
	[ReservedDate] [datetime2](7) NOT NULL,
	[ReadyDate] [datetime2](7) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ReaderId] [uniqueidentifier] NOT NULL,
	[BookItemId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [uniqueidentifier] NOT NULL,
	[StaffCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Gender] [int] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Street] [nvarchar](200) NOT NULL,
	[Address_Ward] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Staffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/13/2026 10:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TaxCode] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[OfficeAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260503034530_InitialLibPro', N'10.0.7')
GO
INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [Email], [Role], [IsDeleted]) VALUES (N'b4c1a8b2-2d1e-4b7e-9f8d-123456789abc', N'SYS_LIB', N'$2a$11$Gwc6abFf7cUCv2HXpUKFKOpac/G16qNusX1E17cGt.ETVqCizRKoy', N'system@library.com', N'Librarian', 0)
INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [Email], [Role], [IsDeleted]) VALUES (N'3d840496-dd25-4874-8e2d-6a0b7ff30fbc', N'librarian02', N'$2a$11$1kvYK11fQeWL7gK/Fm5M8etU6zjKo5hpneCeCOvCxE8x9cPYUFlYi', N'lib02@gmail.com', N'Librarian', 0)
INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [Email], [Role], [IsDeleted]) VALUES (N'a12838ee-015f-4fc5-8a26-8019eb265859', N'dat', N'$2a$11$D5yyxv/FFThyPtJomoUyoeBjDYzYf09W2SXh3de38SGIeYXfFJMSS', N'rd2@library.com', N'Reader', 0)
GO
INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserName], [Action], [EntityName], [EntityId], [OldValues], [NewValues], [Timestamp]) VALUES (N'9826853a-4bc7-4f79-9e8b-005f3bf39c80', N'fcb068c4-a760-4513-b3a2-fe6e5b9893a2', N'phat', N'Cancel Reservation', N'Reservation', N'ReservationSystem', N'', N'Reservation acb6cfe7-960b-4d7b-83b1-f45846fd1ba8 was canceled', CAST(N'2026-05-13T01:15:43.1220332' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserName], [Action], [EntityName], [EntityId], [OldValues], [NewValues], [Timestamp]) VALUES (N'55404f10-ea3d-4ac1-909c-037a08d0d485', N'fcb068c4-a760-4513-b3a2-fe6e5b9893a2', N'System/Reader', N'Create Online Loan', N'Loans', N'85b468ca-b5d2-4b15-bf81-4ad101fa28a7', N'', N'Reader fcb068c4-a760-4513-b3a2-fe6e5b9893a2 created an online loan for 1 items at 5/5/2026 1:14:30 AM', CAST(N'2026-05-05T01:14:30.1689643' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserName], [Action], [EntityName], [EntityId], [OldValues], [NewValues], [Timestamp]) VALUES (N'51ad365b-9728-4314-95f7-04c344b6f74b', N'd89ae8d4-0dd1-493a-9657-ba367f9fb188', N'librarian01', N'Update Book Status', N'BookItem', N'9068698c-87e2-4ff0-a016-22f0f53d4af4', N'Status Change', N'Changed to Discarded', CAST(N'2026-05-12T14:54:00.5344304' AS DateTime2))
GO
INSERT [dbo].[BookItems] ([Id], [Barcode], [ShelfLocation], [Status], [BookId], [IsDeleted]) VALUES (N'c0c84bac-ef60-4c27-bf79-02e0d4e67515', N'9780140449137-002', N'A-110', N'Available', N'37030b16-b10f-4550-8b74-e9cae9c95efb', 0)
INSERT [dbo].[BookItems] ([Id], [Barcode], [ShelfLocation], [Status], [BookId], [IsDeleted]) VALUES (N'd2329915-c2a4-43ba-b3e4-0566761f1032', N'9780140449131-005', N'Novel A-01', N'Available', N'35471aef-051d-47b1-91ca-f1e055ffb17d', 0)
INSERT [dbo].[BookItems] ([Id], [Barcode], [ShelfLocation], [Status], [BookId], [IsDeleted]) VALUES (N'00165598-7a6d-4917-a7ca-11f7c58c9574', N'9780140449131-002', N'Novel A-01', N'Available', N'35471aef-051d-47b1-91ca-f1e055ffb17d', 0)
GO
INSERT [dbo].[Books] ([Id], [Title], [ISBN], [CoverImageUrl], [Description], [Author], [IsDigital], [DigitalFilePath], [LicenseExpiryDate], [PublisherId], [SupplierId], [CategoryId], [Status], [IsDeleted]) VALUES (N'ee38ab40-8b5b-4d06-865f-13e573d19ca0', N'Kafka bên bờ biển', N'9780140441234', N'/assets/covers/4b660f1e-345c-41e4-b0b7-a83820b42c6a.jpg', N'Sách hay, đáng để đọc', N'Haruki Murakami', 0, NULL, NULL, N'b49185c9-6dce-483a-86ea-143a32dbe5cf', N'659062d3-890a-478d-8b3e-b34e40cddd8b', N'407bd6af-25f0-4d2f-a367-9892acf3966b', N'Available', 0)
INSERT [dbo].[Books] ([Id], [Title], [ISBN], [CoverImageUrl], [Description], [Author], [IsDigital], [DigitalFilePath], [LicenseExpiryDate], [PublisherId], [SupplierId], [CategoryId], [Status], [IsDeleted]) VALUES (N'a2c8791f-d121-4161-85cf-549133baa2c9', N'Data Structure ', N'9780140441299', N'/assets/covers/1d554fdf-e641-45b1-8e33-500b59d4719d.png', N'Viết đại', N'Alfred V. Aho, John E. Hopcroft, Jeffrey, D.Ullman', 0, NULL, NULL, N'326f1fd9-08bc-46e7-a72c-366bb7cc60c0', N'659062d3-890a-478d-8b3e-b34e40cddd8b', N'56daba70-2b2b-44c6-b43a-920a60af60eb', N'Available', 0)
GO
INSERT [dbo].[Categories] ([Id], [Name], [Description], [ParentCategoryId]) VALUES (N'56daba70-2b2b-44c6-b43a-920a60af60eb', N'Giáo trình', N'Giáo trình đại học', NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [ParentCategoryId]) VALUES (N'407bd6af-25f0-4d2f-a367-9892acf3966b', N'Tiểu thuyết', N'Các tác phẩm văn học tự sự hình tượng', NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [ParentCategoryId]) VALUES (N'f0d95f2f-5a29-46b0-b827-ea77b3bfbde3', N'Sách giáo khoa', N'Sách giáo khoa là sách giáo khoa', NULL)
GO
INSERT [dbo].[LoanDetails] ([Id], [LoanId], [BookItemId], [DueDate], [ReturnDate], [Status], [RenewalCount], [AccessToken], [FineAmount], [FineCurrency]) VALUES (N'11e6f6c7-068a-49da-b217-05160f5fccf5', N'00f5522e-7e2d-4b97-a19e-424fdc30efa0', N'9252b9d9-4362-4504-9c01-3cb4e0990094', CAST(N'2026-05-22T17:20:45.1342831' AS DateTime2), CAST(N'2026-05-08T18:11:06.6914681' AS DateTime2), N'Returned', 0, NULL, CAST(0.00 AS Decimal(18, 2)), N'VND')
INSERT [dbo].[LoanDetails] ([Id], [LoanId], [BookItemId], [DueDate], [ReturnDate], [Status], [RenewalCount], [AccessToken], [FineAmount], [FineCurrency]) VALUES (N'e983acd6-f46b-4e97-9943-0636d52a1502', N'2afdda06-e46b-4753-b0dc-e1971cb772b3', N'd2fe1743-1c79-499d-9666-229eb413a05e', CAST(N'2026-05-25T20:16:28.3564187' AS DateTime2), CAST(N'2026-05-11T20:16:49.1680613' AS DateTime2), N'Returned', 0, NULL, CAST(0.00 AS Decimal(18, 2)), N'VND')
INSERT [dbo].[LoanDetails] ([Id], [LoanId], [BookItemId], [DueDate], [ReturnDate], [Status], [RenewalCount], [AccessToken], [FineAmount], [FineCurrency]) VALUES (N'f4d0fac4-d4bb-4fea-9001-071ddd40cc06', N'd60daa0a-955b-455a-8b9b-4ecffa63bac5', N'15fee5e3-1897-4791-b318-7d00f5ac6a36', CAST(N'2026-06-03T03:54:48.2702607' AS DateTime2), NULL, N'Active', 1, NULL, CAST(0.00 AS Decimal(18, 2)), N'VND')
GO
INSERT [dbo].[Loans] ([Id], [LoanDate], [ReaderId], [IssuedByStaffId]) VALUES (N'af277d5e-7d22-4cf6-9920-02b00dc73f60', CAST(N'2026-05-11T20:16:18.5372095' AS DateTime2), N'30ea7c1c-20d9-498c-8887-da5ee0b683ab', N'd65f2d2f-57e6-451c-94ea-0e48fb0a4552')
INSERT [dbo].[Loans] ([Id], [LoanDate], [ReaderId], [IssuedByStaffId]) VALUES (N'91dbb4b8-68e8-4392-aa1f-04200171579a', CAST(N'2026-05-08T17:03:47.5702332' AS DateTime2), N'7b31d855-636d-4805-8164-859096da6e83', N'0e05000b-cb13-4a2b-b6b7-fcbe5e3dc816')
INSERT [dbo].[Loans] ([Id], [LoanDate], [ReaderId], [IssuedByStaffId]) VALUES (N'fa4e9184-d206-451f-8dbe-0581b091b401', CAST(N'2026-05-13T03:46:56.6309529' AS DateTime2), N'449e59d3-3ffa-4509-b8d0-077e950ca8df', N'754992e2-74ae-4038-9191-4424c83dbe71')
GO
INSERT [dbo].[Publishers] ([Id], [Name], [Email], [PhoneNumber], [OfficeAddress]) VALUES (N'b49185c9-6dce-483a-86ea-143a32dbe5cf', N'Nhà xuất bản Văn Học', N'info@nxbvanhoc.com.vn', NULL, NULL)
INSERT [dbo].[Publishers] ([Id], [Name], [Email], [PhoneNumber], [OfficeAddress]) VALUES (N'c8066dc7-0b5e-4528-b4fe-160094f6f9c2', N'Nhà Xb Giáo Dục', N'nxbgd@library.com', N'098823267', N'Ho Chi Minh City')
INSERT [dbo].[Publishers] ([Id], [Name], [Email], [PhoneNumber], [OfficeAddress]) VALUES (N'b2d54fc1-e650-4244-8062-26f9a761a4ba', N'Nhà xuất bản Trẻ', N'hopthubandoc@nxbtre.com.vn', NULL, NULL)
GO
INSERT [dbo].[Readers] ([Id], [LibraryCardNumber], [FullName], [Gender], [DateOfBirth], [Street], [Address_Ward], [District], [City], [PhoneNumber], [RegistrationDate], [ExpiryDate], [AccountId], [IsDeleted], [Type]) VALUES (N'449e59d3-3ffa-4509-b8d0-077e950ca8df', N'LCN-639142386449363529', N'Hong Quan', 1, CAST(N'2005-01-22' AS Date), N'ffmakfma', N'bmfkh', N'qlrqmkf', N'adkadk', N'093881317', CAST(N'2026-05-13T03:10:44.9378339' AS DateTime2), CAST(N'2027-05-13T03:10:44.9378339' AS DateTime2), N'9388b1f3-aed2-48c4-9781-d2559b3f59e0', 0, N'Student')
INSERT [dbo].[Readers] ([Id], [LibraryCardNumber], [FullName], [Gender], [DateOfBirth], [Street], [Address_Ward], [District], [City], [PhoneNumber], [RegistrationDate], [ExpiryDate], [AccountId], [IsDeleted], [Type]) VALUES (N'7b31d855-636d-4805-8164-859096da6e83', N'LCN-639135021563681637', N'Trần Hoàng Phát', 1, CAST(N'2005-11-23' AS Date), N'An Duong Vuong', N'Phuong Cho Quan', N'Quan 5', N'Ho Chi Minh City', N'0919438955', CAST(N'2026-05-04T14:35:56.3702007' AS DateTime2), CAST(N'2027-05-04T14:35:56.3702007' AS DateTime2), N'fcb068c4-a760-4513-b3a2-fe6e5b9893a2', 0, N'Guest')
INSERT [dbo].[Readers] ([Id], [LibraryCardNumber], [FullName], [Gender], [DateOfBirth], [Street], [Address_Ward], [District], [City], [PhoneNumber], [RegistrationDate], [ExpiryDate], [AccountId], [IsDeleted], [Type]) VALUES (N'dea67741-6d90-4bd9-8624-992e1d876b9f', N'LCN-639141910859397056', N'Le Van Khanh', 1, CAST(N'2005-09-20' AS Date), N'a', N'b', N'c', N'd', N'0912345687', CAST(N'2026-05-12T13:58:05.9409312' AS DateTime2), CAST(N'2027-05-12T13:58:05.9409312' AS DateTime2), N'e8f29438-566d-4ce9-ab55-db1bb36102bf', 1, N'Guest')
GO
INSERT [dbo].[Reservations] ([Id], [ReservedDate], [ReadyDate], [ExpiryDate], [Status], [ReaderId], [BookItemId]) VALUES (N'f8e3e431-94f0-461d-9d86-0c85289c4d04', CAST(N'2026-05-13T02:34:22.7381162' AS DateTime2), CAST(N'2026-05-13T02:34:22.7381197' AS DateTime2), CAST(N'2026-05-16T02:34:22.7381197' AS DateTime2), N'Completed', N'7b31d855-636d-4805-8164-859096da6e83', N'd2fe1743-1c79-499d-9666-229eb413a05e')
INSERT [dbo].[Reservations] ([Id], [ReservedDate], [ReadyDate], [ExpiryDate], [Status], [ReaderId], [BookItemId]) VALUES (N'c891609c-09fe-46e3-9816-0d487ce6799c', CAST(N'2026-05-13T03:46:01.3876019' AS DateTime2), CAST(N'2026-05-13T03:46:01.3886108' AS DateTime2), CAST(N'2026-05-16T03:46:01.3886108' AS DateTime2), N'Completed', N'449e59d3-3ffa-4509-b8d0-077e950ca8df', N'd2fe1743-1c79-499d-9666-229eb413a05e')
INSERT [dbo].[Reservations] ([Id], [ReservedDate], [ReadyDate], [ExpiryDate], [Status], [ReaderId], [BookItemId]) VALUES (N'c89f9f15-d7d2-46e9-9f50-0e300c62c1b8', CAST(N'2026-05-11T20:14:54.3063627' AS DateTime2), CAST(N'2026-05-11T20:14:54.3084454' AS DateTime2), CAST(N'2026-05-14T20:14:54.3084454' AS DateTime2), N'Completed', N'30ea7c1c-20d9-498c-8887-da5ee0b683ab', N'8f69b6ad-655c-49bd-838e-3ea75e72a01a')
GO
INSERT [dbo].[Staffs] ([Id], [StaffCode], [FullName], [Gender], [DateOfBirth], [Street], [Address_Ward], [District], [City], [PhoneNumber], [AccountId], [IsDeleted]) VALUES (N'd65f2d2f-57e6-451c-94ea-0e48fb0a4552', N'LIB-639135305488245338', N'Thủ Thư thứ nhất', 0, CAST(N'2006-05-04' AS Date), N'', N'', N'', N'', N'0987612354', N'd89ae8d4-0dd1-493a-9657-ba367f9fb188', 1)
INSERT [dbo].[Staffs] ([Id], [StaffCode], [FullName], [Gender], [DateOfBirth], [Street], [Address_Ward], [District], [City], [PhoneNumber], [AccountId], [IsDeleted]) VALUES (N'754992e2-74ae-4038-9191-4424c83dbe71', N'LIB-639135393350677230', N'Thủ Thư thứ hai', 1, CAST(N'2005-03-02' AS Date), N'', N'', N'', N'', N'0912345876', N'3d840496-dd25-4874-8e2d-6a0b7ff30fbc', 0)
INSERT [dbo].[Staffs] ([Id], [StaffCode], [FullName], [Gender], [DateOfBirth], [Street], [Address_Ward], [District], [City], [PhoneNumber], [AccountId], [IsDeleted]) VALUES (N'349e8994-38b6-492c-bf0a-ef2c8fd4181f', N'ADMIN', N'Trần Hoàng Phát', 1, CAST(N'2005-11-23' AS Date), N'280 An Dương Vương', N'Phường Chợ Quán', N'Quận 5', N'TP. Hồ Chí Minh', N'0123456789', N'fee1ee89-7d01-4702-b3e6-b3359b89bbbb', 0)
GO
INSERT [dbo].[Suppliers] ([Id], [Name], [TaxCode], [ContactPerson], [Email], [PhoneNumber], [OfficeAddress]) VALUES (N'6314e7cc-8460-47c8-82e8-23d8ed9706dd', N'Công ty x', N'193i19idjak', N'Không biết', N'ctyX@library.com', N'01918332837', N'Ho Chi Minh City')
INSERT [dbo].[Suppliers] ([Id], [Name], [TaxCode], [ContactPerson], [Email], [PhoneNumber], [OfficeAddress]) VALUES (N'131dbfc0-8bdf-478c-8566-300cc33eb2a3', N'Công ty Cổ phần Văn hóa Phương Nam', N'0302511333', N'Trần Thị B - Quản lý cung ứng', N'mockemail@phuongnambook.com', N'1900665090', N'940 Đường 3/2, Quận 11, TP. Hồ Chí Minh')
INSERT [dbo].[Suppliers] ([Id], [Name], [TaxCode], [ContactPerson], [Email], [PhoneNumber], [OfficeAddress]) VALUES (N'5b0a8f9c-0bac-4131-9486-8baed5ec0d59', N'Nhã Nam', NULL, N'Liên hệ Nhã Nam', N'bookstore@nhanam.vn', NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Accounts_Username]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Accounts_Username] ON [dbo].[Accounts]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_Timestamp]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Timestamp] ON [dbo].[AuditLogs]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BookItems_Barcode]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BookItems_Barcode] ON [dbo].[BookItems]
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookItems_BookId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_BookItems_BookId] ON [dbo].[BookItems]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_CategoryId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Books_CategoryId] ON [dbo].[Books]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_ISBN]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Books_ISBN] ON [dbo].[Books]
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_PublisherId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Books_PublisherId] ON [dbo].[Books]
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_SupplierId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Books_SupplierId] ON [dbo].[Books]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_Name]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_Name] ON [dbo].[Categories]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_ParentCategoryId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_ParentCategoryId] ON [dbo].[Categories]
(
	[ParentCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FinePayments_LoanDetailId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_FinePayments_LoanDetailId] ON [dbo].[FinePayments]
(
	[LoanDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoanDetails_BookItemId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_LoanDetails_BookItemId] ON [dbo].[LoanDetails]
(
	[BookItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoanDetails_LoanId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_LoanDetails_LoanId] ON [dbo].[LoanDetails]
(
	[LoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Loans_IssuedByStaffId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Loans_IssuedByStaffId] ON [dbo].[Loans]
(
	[IssuedByStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Loans_ReaderId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Loans_ReaderId] ON [dbo].[Loans]
(
	[ReaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Readers_AccountId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Readers_AccountId] ON [dbo].[Readers]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Readers_LibraryCardNumber]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Readers_LibraryCardNumber] ON [dbo].[Readers]
(
	[LibraryCardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_BookItemId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_BookItemId] ON [dbo].[Reservations]
(
	[BookItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_ReaderId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_ReaderId] ON [dbo].[Reservations]
(
	[ReaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staffs_AccountId]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Staffs_AccountId] ON [dbo].[Staffs]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staffs_StaffCode]    Script Date: 5/13/2026 10:26:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Staffs_StaffCode] ON [dbo].[Staffs]
(
	[StaffCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FinePayments] ADD  DEFAULT (N'VND') FOR [PaidCurrency]
GO
ALTER TABLE [dbo].[LoanDetails] ADD  DEFAULT (N'VND') FOR [FineCurrency]
GO
ALTER TABLE [dbo].[BookItems]  WITH CHECK ADD  CONSTRAINT [FK_BookItems_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookItems] CHECK CONSTRAINT [FK_BookItems_Books_BookId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers_PublisherId] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers_PublisherId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentCategoryId]
GO
ALTER TABLE [dbo].[FinePayments]  WITH CHECK ADD  CONSTRAINT [FK_FinePayments_LoanDetails_LoanDetailId] FOREIGN KEY([LoanDetailId])
REFERENCES [dbo].[LoanDetails] ([Id])
GO
ALTER TABLE [dbo].[FinePayments] CHECK CONSTRAINT [FK_FinePayments_LoanDetails_LoanDetailId]
GO
ALTER TABLE [dbo].[LoanDetails]  WITH CHECK ADD  CONSTRAINT [FK_LoanDetails_BookItems_BookItemId] FOREIGN KEY([BookItemId])
REFERENCES [dbo].[BookItems] ([Id])
GO
ALTER TABLE [dbo].[LoanDetails] CHECK CONSTRAINT [FK_LoanDetails_BookItems_BookItemId]
GO
ALTER TABLE [dbo].[LoanDetails]  WITH CHECK ADD  CONSTRAINT [FK_LoanDetails_Loans_LoanId] FOREIGN KEY([LoanId])
REFERENCES [dbo].[Loans] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoanDetails] CHECK CONSTRAINT [FK_LoanDetails_Loans_LoanId]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Readers_ReaderId] FOREIGN KEY([ReaderId])
REFERENCES [dbo].[Readers] ([Id])
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK_Loans_Readers_ReaderId]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Staffs_IssuedByStaffId] FOREIGN KEY([IssuedByStaffId])
REFERENCES [dbo].[Staffs] ([Id])
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK_Loans_Staffs_IssuedByStaffId]
GO
ALTER TABLE [dbo].[Readers]  WITH CHECK ADD  CONSTRAINT [FK_Readers_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Readers] CHECK CONSTRAINT [FK_Readers_Accounts_AccountId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_BookItems_BookItemId] FOREIGN KEY([BookItemId])
REFERENCES [dbo].[BookItems] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_BookItems_BookItemId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Readers_ReaderId] FOREIGN KEY([ReaderId])
REFERENCES [dbo].[Readers] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Readers_ReaderId]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Accounts_AccountId]
GO
USE [master]
GO
